body{
    margin: 0;
    font-family: 'Arial';
    background-color: #caf0f8;
}

.container{
    width: 370px;
    margin-top: 10px;
    margin: 100px auto;
    padding: 30px;
    background-color: #ade8f4;
    border-radius: 20px;
    box-shadow: 0px 0px 20px;
    text-align: center;
}
.title{
    margin-bottom: 20px;
}

.form{
    text-align: left;
}

.label{
    display: block;
    margin-top: 10px;
}
.input{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
}

.btn{
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    background-color: #48cae4;
    color: black;
    text-align: center;
    border-radius: 5px;
}

.text{
    margin-top: 15px;
}

.link{
    color: #00b4d8;
    text-decoration: none;
}